body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.half-size{
    width: 50%;
}
.half-size img{
    width: 100%;
}
.connected-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
}
.flexible{
    display: flex;
    color:gray;
    margin: 5% ;
}

#mid-banner{
    background-image: url(images/shapes/7.png);
    padding-top: 5%;
}
#writer-image img{
    width: 50%;
    padding-left: 25%;
}
#writer-info{
    text-align: justify;
    padding-top: 5%;
}
.my-recipes{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%; 
}

.items-container{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    
}
.item-showcase img{
    width: 100%;
}
.img{
    height: 150px;
    width: 100%;
}
.items{
    border-radius: 25px;
    box-shadow: 5px 5px 20px darkgray;
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
}
footer{
    text-align: center;
    background-color: navy;
    padding: 5px;
    margin-top: 90px;
}
footer h3{
    color: grey;
}
footer p{
    color: white;
}
.content{
    display: flex;
}
.social{
    margin-top: 100px;
}
.sc{
    text-align: center;
    width: 33.33%;
}